/* ~/CSS/Pages/Login/iframeLogin.css */
#facebookSignIn{text-align:center;margin-top:8px;margin-bottom:10px;}.LoginFormFieldSet{position:relative;height:39px;*margin-top:-10px;}.UserNameDiv{float:left;width:156px;}.PasswordDiv{float:right;width:158px;position:relative;}.LoginFormInput{*margin-left:-10px;}#SocialNetworkSignIn{border-top:1px solid #ACACAC;}

/*
     FILE ARCHIVED ON 22:25:04 Jul 04, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:51:47 Aug 21, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 7.62
  exclusion.robots.policy: 0.152
  esindex: 0.011
  load_resource: 1726.15
  LoadShardBlock: 299.095 (3)
  CDXLines.iter: 16.294 (3)
  captures_list: 348.671
  PetaboxLoader3.resolve: 1442.689 (4)
  exclusion.robots: 0.162
  PetaboxLoader3.datanode: 295.5 (5)
*/